<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BGP-游戏详情</title>
    <th:block th:insert="~{common :: common}"></th:block>
</head>
<body>
<div class="bgp-body">
    <div class="layui-card bgp-card" style="margin-bottom: 0;">
        <div class="layui-card-body bgp-card-body">
            <form class="layui-form" action="" lay-filter="queryParams">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">中文名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="gameName" id="gameName" autocomplete="off"
                                   class="layui-input" th:value="${data.gamename}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">英文名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="gameEnName" id="gameEnName" autocomplete="off"
                                   class="layui-input" th:value="${data.gamename}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-inline">
                            <select name="type" id="type">
                                <option value="1">启用</option>
                                <option value="0">停用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">桌游类型：</label>
                        <div class="layui-input-inline">
                            <select name="gameType" id="gameType">
                                <option value="">全部</option>
                                <option value="1">社交类</option>
                                <option value="2">策略类</option>
                                <option value="3">竞技类</option>
                                <option value="4">剧情类</option>
                                <option value="5">兵棋类</option>
                                <option value="6">家庭类</option>
                            </select>
                        </div>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title"></fieldset>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="test1">上传图片</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="demo1">
                                <p id="demoText"></p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="test1">上传图片</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="demo1">
                                <p id="demoText"></p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="test1">上传图片</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="demo1">
                                <p id="demoText"></p>
                            </div>
                        </div>
                    </div>

                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="test2">多图片上传</button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            预览图：
                            <div class="layui-upload-list" id="demo2"></div>
                        </blockquote>
                    </div>

                    <div class="layui-btn-container" style="text-align: right">
                        <button class="layui-btn layui-btn-normal" id="tagBtn">标签管理</button>
                        <button class="layui-btn layui-btn-warm" id="addBtn">新增</button>
                        <button class="layui-btn" id="queryBtn">查询</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<!-- js -->
<script th:src="@{/js/game/gameDetail.js}"></script>
</body>
</html>