<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BGP-游戏详情</title>
    <th:block th:insert="~{common :: common}"></th:block>
    <style>
        .add-tpl {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="bgp-body">
    <div class="layui-card bgp-card" style="margin-bottom: 0;">
        <div class="layui-card-body bgp-card-body">
            <!--/*@thymesVar id="editType" type="java.lang.String"*/-->
            <input type="hidden" name="editType" id="editType" th:value="${editType}"/>

            <form class="layui-form" action="" lay-filter="gameInfoFm">
                <!--/*@thymesVar id="gameId" type="java.lang.Long"*/-->
                <input type="hidden" name="id" id="id" th:value="${gameId}"/>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            中文名称：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="gameName" lay-verify="required" autocomplete="off"
                                   class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            英文名称：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="gameEnName" lay-verify="" autocomplete="off"
                                   class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            状态：
                        </label>
                        <div class="layui-input-inline">
                            <select name="status" lay-verify="required">
                                <option value="1">启用</option>
                                <option value="0">制作中</option>
                                <option value="-1">停用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            类型：
                        </label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="type" value="1" title="聚会"/>
                            <input type="checkbox" name="type" value="2" title="策略"/>
                            <input type="checkbox" name="type" value="3" title="剧情"/>
                            <input type="checkbox" name="type" value="4" title="战争"/>
                            <input type="checkbox" name="type" value="5" title="竞技"/>
                            <input type="checkbox" name="type" value="6" title="抽象"/>
                            <input type="checkbox" name="type" value="7" title="家庭"/>
                            <input type="checkbox" name="type" value="8" title="儿童"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            标签：
                        </label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="label" value="1" title="德式"/>
                            <input type="checkbox" name="label" value="2" title="美式"/>
                            <input type="checkbox" name="label" value="3" title="毛线"/>
                            <input type="checkbox" name="label" value="4" title="欢乐"/>
                            <input type="checkbox" name="label" value="5" title="动作"/>
                            <input type="checkbox" name="label" value="6" title="轻策"/>
                            <input type="checkbox" name="label" value="7" title="重策"/>
                            <input type="checkbox" name="label" value="8" title="重毛"/>
                            <input type="checkbox" name="label" value="9" title="卡牌"/>
                            <input type="checkbox" name="label" value="10" title="战棋"/>
                            <input type="checkbox" name="label" value="11" title="合作"/>
                            <input type="checkbox" name="label" value="12" title="TCG"/>
                            <input type="checkbox" name="label" value="13" title="DBG"/>
                            <input type="checkbox" name="label" value="14" title="LCG"/>
                            <input type="checkbox" name="label" value="15" title="承传"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            电子/实体：
                        </label>
                        <div class="layui-input-inline">
                            <select name="isEntity" lay-verify="required">
                                <option value="">请选择</option>
                                <option value="1">实体</option>
                                <option value="2">电子</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            是否扩展：
                        </label>
                        <div class="layui-input-inline">
                            <select name="isDlc" lay-verify="required">
                                <option value="">请选择</option>
                                <option value="0">本体</option>
                                <option value="1">扩展</option>
                            </select>
                        </div>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title"></fieldset>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn upload-image-btn" lay-data="{target: '#imageDiv1'}">
                                上传ICON图
                            </button>
                            <div class="layui-upload-list" id="imageDiv1" data-fileusetype="1" data-filetype="1"
                                 data-maxsize="1">
                                <div class="upload-item">
                                    <img class="upload-img">
                                    <p>
                                        <span class="upload-info">请上传</span>
                                        <input type="hidden" name="fileKey" value="">
                                        <a href="javascript:void(0);" class="upload-del" style="display: none;">删除</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn upload-image-btn" lay-data="{target: '#imageDiv2'}">
                                上传详情图
                            </button>
                            <div class="layui-upload-list" id="imageDiv2" data-fileusetype="2" data-filetype="1"
                                 data-maxsize="1">
                                <div class="upload-item">
                                    <img class="upload-img">
                                    <p>
                                        <span class="upload-info">请上传</span>
                                        <input type="hidden" name="fileKey" value="">
                                        <a href="javascript:void(0);" class="upload-del" style="display: none;">删除</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn upload-image-btn" lay-data="{target: '#imageDiv3'}">
                                上传游戏墙
                            </button>
                            <div class="layui-upload-list" id="imageDiv3" data-fileusetype="3" data-filetype="1"
                                 data-maxsize="1">
                                <div class="upload-item">
                                    <img class="upload-img">
                                    <p>
                                        <span class="upload-info">请上传</span>
                                        <input type="hidden" name="fileKey" value="">
                                        <a href="javascript:void(0);" class="upload-del" style="display: none;">删除</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn upload-image-btn" lay-data="{target: '#imageDiv4'}">
                            上传介绍图
                        </button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            <div class="layui-upload-list" id="imageDiv4" data-fileusetype="4" data-filetype="1"
                                 data-maxsize="9" style="min-height: 153px;">
                            </div>
                        </blockquote>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title"></fieldset>

                <div class="layui-form-item">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn add-video-btn" data-target="#videoDiv">
                            添加游戏视频
                        </button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            <div class="layui-upload-list" id="videoDiv" data-filetype="2"
                                 data-maxsize="999" style="min-height: 44px;">
                            </div>
                        </blockquote>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title"></fieldset>

                <div class="layui-form-item">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn upload-doc-btn" lay-data="{target: '#fileDiv1'}">
                            上传游戏文档
                        </button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            <div class="layui-upload-list" id="fileDiv1" data-fileusetype="1" data-filetype="3"
                                 data-maxsize="999" style="min-height: 44px;">
                            </div>
                        </blockquote>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title"></fieldset>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            游戏重度：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="weight" placeholder="范围0.00-5.00" lay-verify="required|number"
                                   autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            出版年份：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="publishYear" lay-verify="required" autocomplete="off"
                                   class="layui-input"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            游戏时长：
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="duration" lay-verify="required" autocomplete="off"
                                   class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">语言依赖：</label>
                        <div class="layui-input-inline">
                            <select name="languageDependence" lay-verify="required">
                                <option value="">请选择</option>
                                <option value="0">不依赖</option>
                                <option value="1">轻度依赖</option>
                                <option value="2">有一定阅读量</option>
                                <option value="3">有较多阅读量</option>
                                <option value="4">阅读量极大</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">玩家人数：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="playerNumMin" placeholder="人" lay-verify="required|number"
                                   autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                            <input type="text" name="playerNumMax" placeholder="人" lay-verify="required|number"
                                   autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid">推荐：</div>
                        <div class="layui-input-inline">
                            <input type="text" name="playerNumSuggested" placeholder="人" lay-verify="required|number"
                                   autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">原始语言：</label>
                        <div class="layui-input-inline">
                            <select name="language" lay-verify="required">
                                <option value="">请选择</option>
                                <option value="zh">中文</option>
                                <option value="en">英文</option>
                                <option value="ja">日文</option>
                                <option value="de">德文</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">适合年龄：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="age" lay-verify="required" placeholder="岁" autocomplete="off"
                                   class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">中文版：</label>
                        <div class="layui-input-inline">
                            <select name="hasChinese" lay-verify="required">
                                <option value="">请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            设计师：
                            <i class="layui-icon layui-icon-add-circle add-tpl" data-tpl="designer"></i>
                        </label>
                        <div class="layui-input-block" id="designersDiv">
                            <div class="layui-input-inline tpl-item">
                                <input type="text" name="designer" lay-verify="required" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            美术：
                            <i class="layui-icon layui-icon-add-circle add-tpl" data-tpl="artist"></i>
                        </label>
                        <div class="layui-input-block" id="artistsDiv">
                            <div class="layui-input-inline tpl-item">
                                <input type="text" name="artist" lay-verify="required" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            出版商：
                            <i class="layui-icon layui-icon-add-circle add-tpl" data-tpl="publisher"></i>
                        </label>
                        <div class="layui-input-block" id="publishersDiv">
                            <div class="layui-input-inline tpl-item">
                                <input type="text" name="publisher" lay-verify="required" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">初始得分：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="rating" lay-verify="required|number" autocomplete="off"
                                   class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">bgg排名：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="bggRank" lay-verify="required|number" autocomplete="off"
                                   class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">bgg得分：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="bggScore" lay-verify="required|number" autocomplete="off"
                                   class="layui-input"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">bgg链接：</label>
                    <div class="layui-input-block">
                        <input type="text" name="bggLink" lay-verify="required" autocomplete="off"
                               class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        牌套：
                        <i class="layui-icon layui-icon-add-circle add-tpl" data-tpl="sleeve"></i>
                    </label>
                    <div class="layui-input-block" id="sleevesDiv">
                        <div class="layui-inline card-sleeve-item tpl-item">
                            <label class="layui-form-label" style="width: auto;">宽</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sleeveWidth" lay-verify="required|number" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                            <label class="layui-form-label" style="width: auto;">高</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sleeveHeight" lay-verify="required|number" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                            <label class="layui-form-label" style="width: auto;">数量</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sleeveCount" lay-verify="required|number" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            类别：
                            <i class="layui-icon layui-icon-add-circle add-tpl" data-tpl="category"></i>
                        </label>
                        <div class="layui-input-block" id="categoriesDiv">
                            <div class="layui-input-inline tpl-item">
                                <input type="text" name="category" lay-verify="required" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            机制：
                            <i class="layui-icon layui-icon-add-circle add-tpl" data-tpl="mechanism"></i>
                        </label>
                        <div class="layui-input-block" id="mechanismsDiv">
                            <div class="layui-input-inline tpl-item">
                                <input type="text" name="mechanism" lay-verify="required" autocomplete="off"
                                       class="layui-input"/>
                            </div>
                        </div>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title"></fieldset>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">中文简介：</label>
                    <div class="layui-input-block">
                        <textarea name="gameIntroduction" lay-verify="required"
                                  class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">英文简介：</label>
                    <div class="layui-input-block">
                        <textarea name="gameEnIntroduction" lay-verify="required"
                                  class="layui-textarea"></textarea>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title"></fieldset>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px;">
                            关联游戏：
                            <i class="layui-icon layui-icon-add-circle add-tpl" data-tpl="relatedGameId"></i>
                        </label>
                        <div class="layui-input-block" id="relatedGameIdsDiv" style="margin-left: 130px;">
                        </div>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title"></fieldset>

                <div class="layui-form-item">
                    <div class="layui-btn-container" style="text-align: right">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="save">保存</button>
                        <button type="button" class="layui-btn layui-btn-primary btn-cancel">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- js -->
<script th:src="@{/js/game/gameDetail.js}"></script>
</body>
</html>