<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="layui-body bgp-body">
        <div class="bgp-main">
            <div class="layui-card bgp-card">
                <div class="layui-card-header bgp-caed-header">修改密码</div>
                <div class="layui-card-body bgp-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">旧密码：</label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldPwd" lay-verify="required" placeholder="请输入旧密码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码：</label>
                            <div class="layui-input-inline">
                                <input type="password" name="newPwd" lay-verify="required|newPwd" placeholder="请输入新密码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码：</label>
                            <div class="layui-input-inline">
                                <input type="password" name="confirmPwd" lay-verify="required|confirmPwd"
                                       placeholder="请确认新密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="*">提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- js -->
    <script th:src="@{/js/sys/passwordMgr.js}"></script>
</th:block>
</body>
</html>