/* 定义全局变量 */
:root {
    /* 图片上传预览框宽度 */
    --uploadImageWidth: 120px;
}

body {

}

.bgp-main {
    width: 1140px;
    margin: 0 auto;
    padding: 15px;
}

.bgp-header {

}

.bgp-body {
    left: 0 !important;
    background-color: #F2F2F2;
}

.bgp-footer {
    left: 0 !important;
    text-align: center;
}

.upload-btn {
    width: var(--uploadImageWidth);
}

.upload-item {
    display: inline-block;
    width: var(--uploadImageWidth);
}

.upload-item + .upload-item {
    margin-left: 10px;
}

.upload-img {
    width: var(--uploadImageWidth);
    height: var(--uploadImageWidth);
    margin-bottom: 10px;
}

.upload-info {

}

.upload-del {
    float: right;
}