<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>页头</title>
</head>
<body>
<div th:fragment="header">
    <div class="layui-header bgp-header">
        <div class="layui-logo">BGP-桌游星球</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">首页</a></li>
            <li class="layui-nav-item"><a href="">用户管理</a></li>
            <li class="layui-nav-item"><a href="">活动管理</a></li>
            <li class="layui-nav-item"><a href="">消息管理</a></li>
            <li class="layui-nav-item"><a href="">搜索管理</a></li>
            <li class="layui-nav-item"><a href="">桌游库</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/images/user.jpg" class="layui-nav-img">
                    用户名称
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">修改资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出登录</a></li>
        </ul>
    </div>
</div>
</body>
</html>