<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>菩提页头</title>
</head>
<body>
<div th:fragment="header">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <!-- common css -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <!-- common js -->
    <script th:src="@{/js/common.js}"></script>
    <!-- 导航栏 -->
    <div class="bgp-nav">
        1 - 2 - 3 - 4 - 5 name logout
    </div>
</div>
</body>
</html>