<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>BGP</title>
    <th:block th:insert="~{common :: common}"></th:block>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 页头 -->
    <th:block th:insert="~{header :: header}"></th:block>

    <!-- 内容 -->
    <th:block layout:fragment="content"></th:block>

    <!-- 页脚 -->
    <th:block th:insert="~{footer :: footer}"></th:block>
</div>
</body>
</html>